# SQLite w/ python

As title, in this I'll go over what I'm learning w/ SQL. It's best to do some notetaking here

# SQLite

As a really light and performant application, sqlite is easily added to many things and as a battery included language, python is reliable in that it has sqlite built in. It just needs to be imported

In [2]:
import sqlite3

### Creating a db

All sqlite dbs are files. To create one the syntax is:

In [7]:
import sqlite3

conn = sqlite3.connect('test.db')
cursor = conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS people(
  first_name TEXT,
  last_name TEXT,
  age INTEGER
);
""")
conn.commit()
conn.close()

The above statement does multiple things
- creates a connection to the named db `test.db`
- creates a cursor to navigate and control db `cursor = conn.cursor()`
- executes a create table command `cursor.execute("CREATE TABLE IF NOT EXISTS...)
  - IF NOT EXISTS so duplicate tables aren't created
  - columns are named
    - first_name, last_name, age
  - columns are typed
    - TEXT & INTEGER
  - command is ended `;`
- connection is commited to memory `conn.commit()`
- connection is closed `conn.close`

# Accessing table data

The data in tables are accessed with the select command

In [20]:
import sqlite3 
conn =  sqlite3.connect('test.db')
cursor = conn.cursor()
resp = cursor.execute("SELECT * FROM people").fetchall()
conn.commit()
conn.close()

for person in resp: 
    print(person)

('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)

#### Noteworthy things:
- The `execute` command is used to execute sql commands
- `fetchall` is used to tell python to fetch all that matches given conditions
    - otherwise the response will be nothing
    - `fetchone` is an alternative to `fetchall` that fetches the first matching response
    - `fetchall` puts the results in an array
- Data is printed in loop (not very important)
- The connection is **commited** and **closed**

Example of not using fetchall:

In [23]:
import sqlite3 
conn =  sqlite3.connect('test.db')
cursor = conn.cursor()
resp = cursor.execute("SELECT * FROM people")
conn.commit()
conn.close()
print(resp)

<sqlite3.Cursor object at 0x73e25c5bd6c0>

Example of using `fetchone` instead of `fetchall`

In [24]:
import sqlite3 
conn =  sqlite3.connect('test.db')
cursor = conn.cursor()
resp = cursor.execute("SELECT * FROM people").fetchone()
conn.commit()
conn.close()
print(resp)

('Selena', 'Thomas', 25)

- first matching response is printed

## Inserting data into sqlite w/ python

In [28]:
import sqlite3 
conn =  sqlite3.connect('test.db')
cursor = conn.cursor()

cursor.execute("""INSERT INTO people(first_name,last_name,age) --gives structure to insert(optional)
VALUES('Jeremy','Beremy',40)
""") 
response = cursor.execute("SELECT first_name,last_name,age FROM people").fetchall()
print(response)
conn.commit()
conn.close()

[('Selena', 'Thomas', 25), ('Johnny', 'Karcol', 34), ('Samantha', 'Grey', 21), ('Jeremy', 'Beremy', 40)]

#### Noteworthy things: 
- `INSERT INTO` the keyword for inserts
- `people` name of table to insert into
- `people(first_name,last_name,age)` lists the columns to retrieve
    - it's not necessary to list columns
        - instead `INSERT INTO PEOPLE VALUES('Jeremy', 'Beremy',40)` would've been valid
        - Not listing columns runs the risk of having errors
            - the data is given no clear structure so given data in the wrong order could throw an error
            - having the structure makes it so as long as your data follows the given structure, the order isn't restricted
- `fetchall` is used to return an array of matching rows
- connection is commited
- connection is closed

## Alt way of writing connection executions to autoclose connection

In [2]:
import sqlite3 
conn =  sqlite3.connect('test.db')

with conn:
    cursor = conn.cursor()
    print(cursor.execute("SELECT * FROM people").fetchall())
    conn.commit()

[('Selena', 'Thomas', 25), ('Johnny', 'Karcol', 34), ('Samantha', 'Grey', 21), ('Jeremy', 'Beremy', 40)]

## Inserting alts
> This will cover using executemany & an array of values to insert rows
> executemany can prepare and insert multiple values with a given sequence of data

In [8]:
import sqlite3 
conn =  sqlite3.connect('test.db')

with conn: 
    cursor = conn.cursor()
    conn.commit()
     many_inserts = [
        ("Dora", "Explora", 22), 
        ("Cindy", "Dio", 90),
        ("Bob", "Billy", 50)
    ]
    cursor.executemany("""
    INSERT INTO people (first_name,last_name,age)
    VALUES(? ,? ,? )
    """, many_inserts)
    response = cursor.execute("SELECT first_name,last_name,age FROM people").fetchall()
    for person in response:
        print(person)

('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)

#### Noteworth things here:
- Inserting many rows at once can be done in python can be done by using the executemany
    - syntax:
     `cursor.executemany(""" INSERT INTO table_name (column1,column2,column3) VALUES(? ,? ,? )""", sequence)`
        - the sequence can be for ex a list of tuples
- `with conn:` is used to open and close the connection
- `executemany` is used to loop through the list to insert all values at once

## Named vs ? 
> The above example used ?s to insert values left to right
> The ex below uses named values instead so the order matters less and the values are pulled from objects rather a tuple or list of data

In [16]:
import sqlite3
conn = sqlite3.connect('test.db')
with conn:
    cursor = conn.cursor()
    many_inserts = [
        {"first_name": "Bruce", "last_name": "Explora","age": 22}, 
        {"first_name": "Glorilla", "last_name": "Dio", "age": 90},
        {"first_name": "Grimes", "last_name": "Billy", "age": 50}
    ]
    cursor.executemany("""INSERT INTO people(first_name,last_name,age) 
        VALUES(:first_name, :last_name, :age) """,many_inserts)
    response = cursor.execute("SELECT first_name, last_name, age FROM people").fetchall()
    for person in response:
        print(person)

('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)

In [17]:
import sqlite3
conn = sqlite3.connect('test.db')
with conn: 
    cursor = conn.cursor()
    response = cursor.execute("SELECT * FROM people").fetchall()
    for person in response: 
        print(person)

('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)

## SELECT DISTINCT(Different) data
> Select distinct is use to only select data that is different from each other

In the ex above, there are dupicates of Dora,Cindy and Bob. Let's try to only print the unique names

In [8]:
import sqlite3 
conn = sqlite3.connect('test.db')
with conn:
    cursor = conn.cursor()
    sel_all = cursor.execute('SELECT first_name,last_name,age FROM people').fetchall()
    sel_dist = cursor.execute('SELECT DISTINCT first_name,last_name,age FROM people').fetchall()
    print("All people:")
    for person in sel_all:
        print(person)
    print("Distinct people")
    for person in sel_dist: 
        print(person)

All people:
('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Barnes', 25)
('Joe', 'Barnes', 35)
('Sarah', 'Barnes', 25)
Distinct people
('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)
('Samantha', 'Barnes', 25)
('Joe', 'Barnes', 35)
('Sarah', 'Barnes', 25)

### Notes
- Notice how the returned lists are all unique names

In [14]:
import sqlite3 
conn = sqlite3.connect('test.db')
with conn: 
    cursor = conn.cursor()
    last_names = cursor.execute('SELECT DISTINCT last_name FROM people').fetchall()
    first_names = cursor.execute('SELECT DISTINCT first_name FROM people').fetchall()
    ages = cursor.execute('SELECT DISTINCT age FROM people').fetchall()
    print('Unique last names:')
    for person in last_names:
        print(person[0])
    print('\nUnique first names:')
    for person in first_names: 
        print(person[0])

Unique last names:
Thomas
Karcol
Grey
Beremy
Explora
Dio
Billy
Barnes

Unique first names:
Selena
Johnny
Samantha
Jeremy
Dora
Cindy
Bob
Bruce
Glorilla
Grimes
Joe
Sarah

## Updating a table 
> Let's try inserting someone then updating them

In [2]:
import sqlite3
conn = sqlite3.connect('test.db') 
cursor = conn.cursor()
selena_before = cursor.execute('SELECT * FROM people WHERE first_name="Selena" AND last_name="Thomas"').fetchone()
print(f'{selena_before[0]} {selena_before[1]} is {selena_before[2]} years old')
cursor.execute("""
UPDATE people SET age=69 WHERE first_name="Selena" AND last_name="Thomas";
""")
selena_after = cursor.execute("""
SELECT first_name,last_name,age FROM people WHERE first_name="Selena" AND last_name="Thomas"
""").fetchone()
print(f'{selena_after[0]} {selena_after[1]} is {selena_after[2]} years old')
conn.commit()
conn.close()

Selena Thomas is 40 years old
Selena Thomas is 69 years old

In the above example, Selena is called early to show her age then updated to be 69 rather than 40

Noteworthy things: 
- Selena is targetted specifically using WHERE
    - Selena is specified using her first AND last name using the `AND` keyword
        - the `AND` keyword allows chaining conditions requiring all to be `true`

## SQlite master 
> The sqlite_master is it's own db that contains information about the other table within
> Below we'll create a basic statement to access the tables within

In [24]:
import sqlite3 
conn = sqlite3.connect('test.db') 
with conn: 
    cursor = conn.cursor()
    response = cursor.execute(""" SELECT type,name,tbl_name,rootpage,sql FROM sqlite_master WHERE type='table';""").fetchall()
    for table in response:
        print(""" 
        Type : {type}
        Table_Name: {tbl_name}
        name : {name}
        rootpage : {rootpage}
        Table Creation statement : {sql}
        """.format(type = table[0], tbl_name = table[2], name = table[1], rootpage = table[3], sql = table[4]) )
    conn.commit()
conn.close()

        Type : table
        Table_Name: people
        name : people
        rootpage : 2
        Table Creation statement : CREATE TABLE people(
               first_name TEXT,
               last_name TEXT,
               age INTEGER
)


        Type : table
        Table_Name: person
        name : person
        rootpage : 3
        Table Creation statement : CREATE TABLE person(
             first_name TEXT,
             last_name TEXT,
             age INTEGER
           )

The information above was taken from the sql_master. It provides a good amount of information such as the sql statement used to create the db object, the type of object (in this case all tables), name and table_name of the objects (the same if type of table/view), and the rootpage
> More info on what these all are later

## Deleting from table
> Important to say we know full CRUD

In [52]:
import sqlite3
conn = sqlite3.connect('test.db')
with conn: 
    def deleteFunc():
        deleteCursor = conn.cursor()
        deleteCursor.execute("""DELETE FROM people WHERE first_name='Samantha' AND last_name='Grey' AND age=21 """)
        print('Deleted!')
        conn.commit()
    def getAll():
        getAllCursor = conn.cursor()
        response = getAllCursor.execute('SELECT * FROM people').fetchall()
        for person in response:
            print(person)
            
    cursor = conn.cursor()
    response = cursor.execute('SELECT * FROM people').fetchall()
    print('All data before manipulation')
    for person in response:
        print(person)

     Samanthas = cursor.execute("""
    SELECT * FROM people WHERE first_name='Samantha' AND last_name = 'Grey' AND age=21
    """).fetchall()
    if Samanthas:
        deleteFunc()
    else:
        print('\nFake data needed for deletion. Creating Samantha duplicates...')
        dataToAdd = [
            ('Samantha', 'Grey', 21),
            ('Samantha', 'Grey', 21),
            ('Samantha', 'Grey', 21),
            ('Samantha', 'Grey', 21),
            ('Samantha', 'Grey', 21),
            ('Samantha', 'Grey', 21)
        ]
        print('Fake data: ')
        for samantha in dataToAdd:
            print(samantha)
        print('adding...')
        cursor.executemany("""
        INSERT INTO people(first_name,last_name,age)
        VALUES(?,?,?)
        """,dataToAdd)
        print("\nNew table:")
        getAll()
        print("\nTime to delete!") 
        deleteFunc()
        
    print('\nAfter deletion')
    getAll()

All data before manipulation
('Selena', 'Thomas', 69)
('Johnny', 'Karcol', 34)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)
('Samantha', 'Barnes', 25)
('Joe', 'Barnes', 35)
('Sarah', 'Barnes', 25)

Fake data needed for deletion. Creating Samantha duplicates...
Fake data:
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
adding...

New table:
('Selena', 'Thomas', 69)
('Johnny', 'Karcol', 34)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)
('Samantha', 'Barnes', 25)
('Joe', 'Barnes', 35)
('Sarah', 'Barnes', 25)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)

Time to delete!
Deleted!

After deletion
('Selena', 'Thomas', 69)
('Johnny', 'Karcol', 34)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)
('Samantha', 'Barnes', 25)
('Joe', 'Barnes', 35)
('Sarah', 'Barnes', 25)

Noteworthy stuff:
- `DELETE FROM table_name` is the general syntax
    - this on it's own would delete all data from the table
    - chaining on `WHERE` w/ conditions specifies data for deletion
- `fetchall()` is always used when fetching more than one cell of data in the table
    - with `fetchone()` used if it's just one

Also I mean this isn't important but I'm feeling pretty comfortable just writing a good amount of python and sql code since I'm still learning both

## Combining AND/OR conditions
> Let's play around a bit with finding data w/ conditions
> I've already done this since it's not very difficult but still

In [78]:
# Print all data first to look at
import sqlite3 
conn = sqlite3.connect('test.db')
with conn: 
    cursor = conn.cursor()
    response = cursor.execute('SELECT * FROM people WHERE last_name ="Barnes" ').fetchall()
    print("All Barnes family members: \n")
    for person in response:
        print(person)
    print("""\n Let's aggregate data by finding the average family member's age \n""")

    print("COUNT, SUM, AVG, MIN, and MAX are some basic aggregation commands available in SQL\n")

    avg_age_result= cursor.execute('SELECT AVG(age) FROM people WHERE last_name="Barnes"').fetchone()
    avg_age = avg_age_result[0]
    print('The average age is {avg_age}\n'.format(avg_age=avg_age))
    print("Let's use this data to find the older and younger siblings\n")
    
    older_siblings = cursor.execute(f'SELECT first_name,age FROM people WHERE age>{avg_age} AND last_name="Barnes"').fetchall()
    younger_siblings = cursor.execute(f'SELECT first_name,age FROM people WHERE age<{avg_age} AND last_name="Barnes"').fetchall()
    if len(older_siblings)> 1:
        print("Older siblings: ")
    else:
        print("Older sibling: ")
    for sibling in older_siblings:
        print(f"{sibling[0]} age {sibling[1]}\n")
    if len(younger_siblings)> 1:
        print("Younger siblings: ")
    else:
        print("Younger sibling: ")
    for sibling in younger_siblings:
        print(f"{sibling[0]} age {sibling[1]}")

All Barnes family members:

('Samantha', 'Barnes', 25)
('Joe', 'Barnes', 35)
('Sarah', 'Barnes', 25)

 Let's aggregate data by finding the average family member's age

COUNT, SUM, AVG, MIN, and MAX are some basic aggregation commands available in SQL

The average age is 28.333333333333332

Let's use this data to find the older and younger siblings

Older sibling:
Joe age 35

Younger siblings:
Samantha age 25
Sarah age 25

Noteworthy stuff:
- `AVG` combined w/ a `WHERE last_name="Barnes"` is used to specify the average of only the Barnes family

### More aggregations
> Let's do some quick stats

In [102]:
import sqlite3 
conn = sqlite3.connect('test.db')
with conn: 
    cursor = conn.cursor()
    all_people = cursor.execute('SELECT * FROM people').fetchall()
    print('All people:')
    for person in all_people:
        print(person)

    count = cursor.execute('SELECT COUNT(first_name) FROM people').fetchone()
    print('\nAmount of ppl {0}'.format(count[0]))
    avg_age = cursor.execute('SELECT AVG(age) FROM people').fetchone()
    print('\nAverage age of people {}'.format(avg_age[0]))

    youngest = cursor.execute('SELECT * FROM people WHERE age = (SELECT MIN(age) FROM people)').fetchall()
    if len(youngest) < 1:
        print('\nThe youngest person is:')
    else: 
        print('\nThe yougnest peole are: ')
    for youngin in youngest:
        print(youngin)

All people:
('Selena', 'Thomas', 69)
('Johnny', 'Karcol', 34)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)
('Samantha', 'Barnes', 25)
('Joe', 'Barnes', 35)
('Sarah', 'Barnes', 25)

Amount of ppl 15

Average age of people 47.6

The yougnest peole are:
('Dora', 'Explora', 22)
('Dora', 'Explora', 22)
('Bruce', 'Explora', 22)

# Alias
> An alias can be used to return data w/ a given name
> When using sqlite3 w/ python, the returned data is in the style of a tuple so this may initially not seem useful but using aliases can be helpful to make sure code is readable which is always a good thing

In [4]:
# Let's alias some data 
import sqlite3
with sqlite3.connect('test.db') as conn:
    # yeah new syntax here. Enjoy
    cursor = conn.cursor() 
    result = cursor.execute("Select first_name as given_name, last_name as maden_name, age FROM people;").fetchall()
    for person in result:
            print(person)

('Selena', 'Thomas', 69)
('Johnny', 'Karcol', 34)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)
('Samantha', 'Barnes', 25)
('Joe', 'Barnes', 35)
('Sarah', 'Barnes', 25)

Noteworthy things here: 
- SQL is not syntax generally not case sensitive so there were on errors in the statement
    - still generall a good idea to just use the correct case so `SELECT` instead of `Select` here
- The as keyword makes the statement readable but in the case of python w/ sqlite doesn't make a difference
    - When this would make sense
        - In a language like typescript/javascript where the data would be returned as an object (especially when using ORMs)

# Subqueries 
> Subqueries can be used to create nested query

> With a nested query, data can be retrieved in a row(list) to be searched through

> Subqueries are especially useful for joining different tables together or checking relationships

In [6]:
import sqlite3
with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor() 
    # This example is going to be somewhat irrelevant because the faux data isn't that large but let's try anyways
    people = cursor.execute("""
    SELECT first_name, last_name, age FROM (SELECT first_name,last_name,age FROM PEOPLE WHERE last_name= 'Barnes')
    WHERE age = 25
    """)
    for person in people: 
        print(person)

('Samantha', 'Barnes', 25)
('Sarah', 'Barnes', 25)

Noteworthy stuff: 
- The subquery returns a row of only people with the last name of Barnes which the outer query then uses to match the age
Again the data isn't complex so it doesn't require this(could be done w/ a simple `WHERE last_name='Barnes' AND age=25` statement but still

# Order by 
> ORDER BY is used to sort returned data

In [9]:
import sqlite3
with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    ordered_barnes_family = cursor.execute("""SELECT first_name, last_name, age FROM people
        WHERE last_name='Barnes'
        ORDER BY first_name
        """)
    for person in ordered_barnes_family:
        print(person)

('Joe', 'Barnes', 35)
('Samantha', 'Barnes', 25)
('Sarah', 'Barnes', 25)

Let's do another example w/ sorting by the date

In [10]:
import sqlite3
with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    all_people = cursor.execute("""
    SELECT * FROM people
    ORDER BY age
    """).fetchall()
    for person in all_people:
        print(person)
    barnes_family = cursor.execute("""
    SELECT first_name,last_name,age FROM people 
    WHERE last_name='Barnes'
    ORDER BY age
    """).fetchall()
    print('\nBarnes Fam:')
    for person in barnes_family:
        print(person)

('Dora', 'Explora', 22)
('Dora', 'Explora', 22)
('Bruce', 'Explora', 22)
('Samantha', 'Barnes', 25)
('Sarah', 'Barnes', 25)
('Johnny', 'Karcol', 34)
('Joe', 'Barnes', 35)
('Jeremy', 'Beremy', 40)
('Bob', 'Billy', 50)
('Bob', 'Billy', 50)
('Grimes', 'Billy', 50)
('Selena', 'Thomas', 69)
('Cindy', 'Dio', 90)
('Cindy', 'Dio', 90)
('Glorilla', 'Dio', 90)

Barnes Fam:
('Samantha', 'Barnes', 25)
('Sarah', 'Barnes', 25)
('Joe', 'Barnes', 35)

## ASC | DESC
> Data can be ordered by ascending or descending order
>
> The default behavior is to order by ascending order but this can be changed by added DESC to the end of the order by statment
> You can also add ASC at the end of the statement just for readability

In [11]:
import sqlite3
with sqlite3.connect('test.db') as conn: 
    cursor = conn.cursor()
    default_order = cursor.execute("""
    SELECT first_name,last_name, age FROM people 
    ORDER BY age ASC
    """).fetchall()
    desc_order = cursor.execute("""
    SELECT first_name,last_name, age FROM people 
    ORDER BY age DESC
    """).fetchall()
    print("Ascending(default) order:")
    for person in default_order:
        print(person)
    print("\nDescending order:")    
    for person in desc_order: 
        print(person)

Ascending(default) order:
('Dora', 'Explora', 22)
('Dora', 'Explora', 22)
('Bruce', 'Explora', 22)
('Samantha', 'Barnes', 25)
('Sarah', 'Barnes', 25)
('Johnny', 'Karcol', 34)
('Joe', 'Barnes', 35)
('Jeremy', 'Beremy', 40)
('Bob', 'Billy', 50)
('Bob', 'Billy', 50)
('Grimes', 'Billy', 50)
('Selena', 'Thomas', 69)
('Cindy', 'Dio', 90)
('Cindy', 'Dio', 90)
('Glorilla', 'Dio', 90)

Descending order:
('Cindy', 'Dio', 90)
('Cindy', 'Dio', 90)
('Glorilla', 'Dio', 90)
('Selena', 'Thomas', 69)
('Bob', 'Billy', 50)
('Bob', 'Billy', 50)
('Grimes', 'Billy', 50)
('Jeremy', 'Beremy', 40)
('Joe', 'Barnes', 35)
('Johnny', 'Karcol', 34)
('Samantha', 'Barnes', 25)
('Sarah', 'Barnes', 25)
('Dora', 'Explora', 22)
('Dora', 'Explora', 22)
('Bruce', 'Explora', 22)

## ORDER BY multiple columns 
> Order by can be done w/ multiple columns
> The order is done by the left most column first and if any data is being compared that has the same value, the data is compared using the column listed to the write in the sql statement.This is repeated until the data is succesfully ordered as specified

In [16]:
import sqlite3
with sqlite3.connect('test.db') as conn: 
    cursor = conn.cursor()
    # Because the barnes family has 2 S names, let's add some more people and chain together a longer sql statement for practice
    new_barnes = [
        ('Timothy','Barnes',55),
        ('Chio', 'Barnes', 42),
        ('Simone', 'Barnes', 44),
        ('Praline', 'Barnes', 12),
        ('Lorell','Barnes', 14)
    ]
    barnes_famliy = cursor.executemany("""
    INSERT INTO people(first_name,last_name, age) 
    VALUES(?,?,?);
    SELECT * FROM people WHERE last_name="Barnes" ORDER BY last_name,first_name;
    """,new_barnes).fetchall()
    conn.commit()
    for person in barnes_family: 
        print(person)
    conn.close()

ProgrammingError: You can only execute one statement at a time.

Where's the error? 
Well the execute many statement is designed to do only one execution at a time but multiple times so I can't do the many inserts and select in one go but easy fix!

In [2]:
import sqlite3
with sqlite3.connect('test.db') as conn: 
    cursor = conn.cursor()
    new_barnes = [
        ('Carl','Barnes',55),
        ('Carlton', 'Barnes', 42),
        ('Vlad', 'Barnes', 44),
        ('Orty', 'Barnes', 12),
        ('Mort','Barnes', 14)
    ]
    cursor.executemany("""
    INSERT INTO people(first_name,last_name, age) 
    VALUES(?,?,?);
    """,new_barnes).fetchall()
    barnes_family = cursor.execute("""SELECT * FROM people WHERE last_name="Barnes" ORDER BY last_name,first_name;""")
   
    for person in barnes_family: 
        print(person)
    conn.commit()

('Ann', 'Barnes', 12)
('Britanny', 'Barnes', 55)
('Britney', 'Barnes', 42)
('Carl', 'Barnes', 55)
('Carlton', 'Barnes', 42)
('Chio', 'Barnes', 42)
('Cindy', 'Barnes', 14)
('Egle', 'Barnes', 12)
('Gary', 'Barnes', 44)
('Gio', 'Barnes', 14)
('Grace', 'Barnes', 55)
('Joe', 'Barnes', 35)
('Karla', 'Barnes', 14)
('Lorell', 'Barnes', 14)
('Mort', 'Barnes', 14)
('Norman', 'Barnes', 42)
('Orty', 'Barnes', 12)
('Pauline', 'Barnes', 42)
('Praline', 'Barnes', 12)
('Quaxy', 'Barnes', 44)
('Ricardo', 'Barnes', 44)
('Samantha', 'Barnes', 25)
('Sarah', 'Barnes', 25)
('Simone', 'Barnes', 44)
('Timothy', 'Barnes', 55)
('Vlad', 'Barnes', 44)
('Wendell', 'Barnes', 12)
('Xara', 'Barnes', 55)

noteworthy: 
well this only does one thing because they all have the same last name is what I realize but... yeah

## Combining ASC | DESC w/ multiple columns
> Multiple columns can be ordered by using seperate order functions

`
syntax: 
ORDER BY col_1 ASC, col_2 DESC
`

In [5]:
import sqlite3
with sqlite3.connect('test.db') as conn: 
    cursor =conn.cursor()
    barnes_by_age = cursor.execute('SELECT first_name,age FROM people WHERE last_name="Barnes" ORDER BY age ASC, first_name DESC').fetchall()
    for person in barnes_by_age:
        print(person)

('Wendell', 12)
('Praline', 12)
('Orty', 12)
('Egle', 12)
('Ann', 12)
('Mort', 14)
('Lorell', 14)
('Karla', 14)
('Gio', 14)
('Cindy', 14)
('Sarah', 25)
('Samantha', 25)
('Joe', 35)
('Pauline', 42)
('Norman', 42)
('Chio', 42)
('Carlton', 42)
('Britney', 42)
('Vlad', 44)
('Simone', 44)
('Ricardo', 44)
('Quaxy', 44)
('Gary', 44)
('Xara', 55)
('Timothy', 55)
('Grace', 55)
('Carl', 55)
('Britanny', 55)

Noteworthy: 
- Barnes are being organized by age first in ascending order(0-9)
- Barnes are secondly being organized by first_name in descending order(so z-a)

## Using cursor to fetch
> while looking at an example I realized something was possible that I want to try myself. It's storing data by the cursor rather than in a variable

In [3]:
import sqlite3
with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM MOCK_DATA WHERE first_name LIKE "p%"')
    print('First search: ')
    for person in cursor.fetchall():
        print(person)
    cursor.execute('SELECT * FROM MOCK_DATA WHERE last_name LIKE "R%"')
    print('\nSecond search:')
    for person in cursor.fetchall():
        print(person)

First search:
(46, 'Papageno', 'Girardin', 'pgirardin19@etsy.com', 'Male')
(51, 'Patton', 'Kelsey', 'pkelsey1e@ucla.edu', 'Genderfluid')
(90, 'Paloma', 'Sibbson', 'psibbson2h@dagondesign.com', 'Female')
(125, 'Patricio', 'Levitt', 'plevitt3g@washingtonpost.com', 'Male')
(225, 'Patrizia', 'Keslake', 'pkeslake68@webnode.com', 'Female')
(267, 'Pembroke', 'Armin', 'parmin7e@joomla.org', 'Male')
(279, 'Phillipe', 'Aiston', 'paiston7q@cafepress.com', 'Male')
(283, 'Pippy', 'Neill', 'pneill7u@opensource.org', 'Female')
(303, 'Paton', 'Hogsden', 'phogsden8e@opensource.org', 'Male')
(390, 'Pierrette', 'Gawkes', 'pgawkesat@biblegateway.com', 'Female')
(419, 'Palmer', 'Lavington', 'plavingtonbm@prlog.org', 'Male')
(480, 'Philomena', 'Picheford', 'ppicheforddb@arizona.edu', 'Female')
(491, 'Paulie', 'Kippen', 'pkippendm@about.com', 'Polygender')
(534, 'Payton', 'Farrans', 'pfarranset@buzzfeed.com', 'Male')
(561, 'Pam', 'Greenway', 'pgreenwayfk@skype.com', 'Female')
(637, 'Poppy', 'Wimpenny', 'pwimpennyho@mac.com', 'Female')
(650, 'Philip', 'Croux', 'pcrouxi1@w3.org', 'Male')
(739, 'Prentice', 'Castelijn', 'pcastelijnki@thetimes.co.uk', 'Male')
(777, 'Phaidra', 'Raffels', 'praffelslk@economist.com', 'Polygender')
(784, 'Parsifal', 'Boissieux', 'pboissieuxlr@sourceforge.net', 'Male')
(806, 'Pietro', 'Jelliman', 'pjellimanmd@rakuten.co.jp', 'Male')
(826, 'Padraic', 'Pluvier', 'ppluviermx@un.org', 'Male')
(866, 'Peri', 'Tabor', 'ptaboro1@canalblog.com', 'Female')
(901, 'Philis', 'Amiable', 'pamiablep0@studiopress.com', 'Female')
(970, 'Pippy', 'Warstall', 'pwarstallqx@ed.gov', 'Female')
(986, 'Portia', 'Dumberrill', 'pdumberrillrd@usnews.com', 'Female')

Second search:
(53, 'Luke', 'Rowsell', 'lrowsell1g@unc.edu', 'Bigender')
(77, 'Baillie', 'Ravenshear', 'bravenshear24@opensource.org', 'Male')
(83, 'Camilla', 'Ropkes', 'cropkes2a@drupal.org', 'Female')
(84, 'Sari', 'Reye', 'sreye2b@mit.edu', 'Female')
(98, 'Mickey', 'Reimer', 'mreimer2p@youku.com', 'Male')
(151, 'Vite', 'Rodbourne', 'vrodbourne46@furl.net', 'Male')
(159, 'Arlin', 'Rankin', 'arankin4e@t-online.de', 'Male')
(215, 'Karlene', 'Reedshaw', 'kreedshaw5y@nymag.com', 'Female')
(260, 'Baron', 'Rosel', 'brosel77@flavors.me', 'Male')
(320, 'Griffith', 'Round', 'ground8v@ehow.com', 'Male')
(329, 'Frank', 'Ripsher', 'fripsher94@ycombinator.com', 'Female')
(401, 'Caralie', 'Rosterne', 'crosterneb4@unc.edu', 'Female')
(483, 'Grier', 'Renac', 'grenacde@nymag.com', 'Female')
(511, 'L;urette', 'Roark', 'lroarke6@cnet.com', 'Female')
(516, 'Becca', 'Rotlauf', 'brotlaufeb@usa.gov', 'Female')
(560, 'Sayers', 'Russ', 'srussfj@timesonline.co.uk', 'Male')
(565, 'Gannon', 'Rosenstengel', 'grosenstengelfo@ycombinator.com', 'Male')
(580, 'Georgine', 'Renbold', 'grenboldg3@slate.com', 'Female')
(581, 'Elonore', 'Reding', 'eredingg4@webeden.co.uk', 'Female')
(592, 'Baxy', 'Rihosek', 'brihosekgf@chron.com', 'Male')
(601, 'Leroy', 'Renney', 'lrenneygo@drupal.org', 'Male')
(615, 'Desirae', 'Risman', 'drismanh2@wordpress.org', 'Female')
(633, 'Saunderson', 'Ross', 'srosshk@angelfire.com', 'Male')
(647, 'Ilka', 'Reynault', 'ireynaulthy@springer.com', 'Genderfluid')
(663, 'Hedwig', 'Rudledge', 'hrudledgeie@tripadvisor.com', 'Female')
(668, 'Ailey', 'Ramsay', 'aramsayij@home.pl', 'Female')
(672, 'Cy', 'Redshaw', 'credshawin@mac.com', 'Male')
(691, 'Marylinda', 'Rawle', 'mrawlej6@apple.com', 'Female')
(727, 'Brigit', 'Riepl', 'brieplk6@seesaa.net', 'Female')
(741, 'Jonathon', 'Remer', 'jremerkk@prweb.com', 'Male')
(777, 'Phaidra', 'Raffels', 'praffelslk@economist.com', 'Polygender')
(783, 'Alameda', 'Romero', 'aromerolq@wp.com', 'Female')
(797, 'Oliver', 'Renouf', 'orenoufm4@imageshack.us', 'Male')
(824, 'Kailey', 'Rycroft', 'krycroftmv@oaic.gov.au', 'Female')
(829, 'Ebonee', 'Reboulet', 'erebouletn0@ovh.net', 'Female')
(832, 'Saul', 'Radki', 'sradkin3@deliciousdays.com', 'Male')
(859, 'Mignon', 'Robuchon', 'mrobuchonnu@histats.com', 'Female')
(878, 'Jacobo', 'Rozsa', 'jrozsaod@hatena.ne.jp', 'Male')
(879, 'Wynn', 'Rickasse', 'wrickasseoe@va.gov', 'Polygender')
(884, 'Angelika', 'Rowledge', 'arowledgeoj@umn.edu', 'Female')
(903, 'Torey', 'Rix', 'trixp2@webmd.com', 'Male')
(922, 'Godard', 'Rosedale', 'grosedalepl@netlog.com', 'Male')
(958, 'Lorant', 'Rigmond', 'lrigmondql@techcrunch.com', 'Male')

The cursor.fetchall() result was looped over rather than first putting it into a variable. This isn't too SQL specific but as I've been getting better at this programing thing, I can see more value in code that's functional but shorter. I just don't want to sacrifice readability ever and I think this does pretty well for balance

## Substrings
>Substrings are extracted string data from larger strings. You can partially extract string data such as emails

In [9]:
import sqlite3
with sqlite3.connect('test.db') as conn:
    cursor=conn.cursor()
    cursor.execute(' SELECT SUBSTR(email,INSTR(email,"@")) FROM MOCK_DATA LIMIT 10')
    for email in cursor.fetchall():
        print(email)

('@github.com',)
('@marketwatch.com',)
('@uol.com.br',)
('@netvibes.com',)
('@rambler.ru',)
('@fda.gov',)
('@ftc.gov',)
('@jalbum.net',)
('@cisco.com',)
('@bing.com',)

Let's break this down:
- The SUBSTR syntax
    `SUBSTR(string, start, length)`
    - this tells SQL to search the string from this index and return this much in length from that start
        - SQL starts index at 1 not 0
- INSTR is used by substrings to search for a given character within the string
    `SUBSTR(string, INSTR(string, '@'))`
    - This tells SQL to Search the string, starting at whatever character the '@' is at

Let's combine this again in another example

In [28]:
import sqlite3
with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute("""SELECT SUBSTR(email, INSTR(email,"@")+1,INSTR(email,".com")+1 ) as result,
    SUBSTR(email,INSTR(email, '@'), INSTR(email,'.com')) as trimmed
    FROM MOCK_DATA 
    WHERE result is NOT "" AND trimmed is NOT ""
    LIMIT 2
    """)
    for email in cursor.fetchall():
        print(f'With full: {email[1]}')
        print(f'Without full: {email[0]}\n')

With full: @github.com
Without full: github.com

With full: @marketwatch.com
Without full: marketwatch.com

This one also did a lot so let's break it down
`SUBSTR(email, INSTR(email, '@'), INSTR(email,'.com'))`
SUBSTR(email,start, length)
- `SUBSTR (substring)`
- email - the email column taken from the table
- start/`INSTR(email, '@')`
    - In this case index is whatever the `INSTR` returns where the '@' is
- length `INSTR(email,'.com'`
    - In this case length is up to wherever the .com is (the end of it)

Although the way that I've been doing it makes for cleaner code overall, it's a lot of repetition so I'm just going to define this here to be used throughout this file:

In [4]:
import sqlite3
conn = sqlite3.connect('test.db')
cursor = conn.cursor()

In [5]:
print(cursor.execute('SELECT * FROM MOCK_DATA LIMIT 5').fetchall())

[(1, 'Aldrich', 'Hadkins', 'ahadkins0@dedecms.com', 'Male'), (2, 'Ynez', 'Brock', 'ybrock1@sina.com.cn', 'Female'), (3, 'Minne', 'Flores', 'mflores2@newsvine.com', 'Female'), (4, 'Morgen', 'Myall', 'mmyall3@domainmarket.com', 'Male'), (5, 'Wade', 'Moakson', 'wmoakson4@oakley.com', 'Bigender')]

New dataset to mess around with. I created a dating site dataset using [mockaroo](https://mockaroo.com/)

In [13]:
from pprint import pprint
if cursor:
    print("Table")

    pprint(cursor.execute('SELECT sql FROM sqlite_master WHERE name="dating_data" AND type="table"').fetchone()) 
    
    print('\nsample data')
    result = cursor.execute('SELECT * FROM dating_data LIMIT 5')
    for person in result:
        print(person)
else: 
    print("cursor hasn't loaded")

Table
('CREATE TABLE dating_data(\n'
 '  id INTEGER PRIMARY KEY,\n'
 '  first_name TEXT NOT NULL,\n'
 '  last_name TEXT NOT NULL,\n'
 '  description TEXT NOT NULL,\n'
 '  state TEXT NOT NULL,\n'
 '  single INTEGER NOT NULL,\n'
 '  gender TEXT,\n'
 '  queer INTEGER DEFAULT 0\n'
 ')',)

sample data
(1, 'Udale', 'McRoberts', 'Implemented web-enabled neural-net', 'IN', 0, 'Male', 1)
(2, 'Charla', 'MacConchie', 'Profit-focused empowering capability', 'FL', 1, 'Female', 1)
(3, 'Tersina', 'Pendle', 'Digitized optimal knowledge user', 'TX', 1, None, 0)
(4, 'Vicky', 'Clubley', 'Progressive mission-critical software', 'CA', 0, 'Female', 0)
(5, 'Tim', 'Thurner', 'Configurable value-added database', 'FL', 1, 'Agender', 1)

To understand the thought process behind this table for future use: 
- **id** is auto generated as the primary key
- **first_name** AND **last_name** AND **description** are present in all as TEXT
- **state** is abbreviated and present in all
- **single** as a boolean to represent dating status is present in all
- **gender** as a text with gender is present in all
- **queer** as a boolean w/ a default status of *false* is present

In [22]:
#let's match some ppl 
# floridians only

if cursor: 

    cursor.execute('SELECT * FROM dating_data WHERE state="FL" LIMIT 10')
    print("floridians only sample!\n")
    for floridian in cursor.fetchall():
        print(floridian)
    print(f"""\nThere are: {cursor.execute(f"""SELECT COUNT(*) FROM dating_data WHERE state="FL"
    """).fetchone()[0]} floridians total on this site""")
else:
    print('cursor not present!')

floridians only sample!

(2, 'Charla', 'MacConchie', 'Profit-focused empowering capability', 'FL', 1, 'Female', 1)
(5, 'Tim', 'Thurner', 'Configurable value-added database', 'FL', 1, 'Agender', 1)
(39, 'Roxanne', 'Buckthorpe', 'Assimilated multi-tasking firmware', 'FL', 0, 'Female', 1)
(52, 'Wallie', 'Allcock', 'Advanced global projection', 'FL', 0, 'Genderfluid', 1)
(64, 'Nancey', 'La Torre', 'Open-architected human-resource knowledge user', 'FL', 1, None, 1)
(66, 'Corey', 'Dartan', 'Ameliorated optimizing application', 'FL', 0, None, 0)
(85, 'Corene', 'Rickwood', 'Exclusive impactful open system', 'FL', 1, 'Polygender', 1)
(87, 'Wilmer', 'Baake', 'Configurable bi-directional alliance', 'FL', 0, None, 0)
(103, 'Stavro', 'Immings', 'Upgradable object-oriented info-mediaries', 'FL', 1, 'Agender', 1)
(127, 'Nara', 'Keuneke', 'Fully-configurable exuding hardware', 'FL', 1, None, 1)

There are: 74 floridians total on this site

In [55]:
if cursor:
    def retrieveGenderCount():
        return cursor.execute("SELECT COUNT(DISTINCT gender) FROM dating_data WHERE gender is NOT 'NULL'").fetchone()[0]
    print(
    f"""There are {retrieveGenderCount()} Types of genders here, excluding no gender given""")

    print("\nListing...\n")

    cursor.execute("SELECT DISTINCT gender FROM dating_data WHERE gender <> 'None'")
    for gender in cursor.fetchall():
        print(gender[0])

There are 8 Types of genders here, excluding no gender given

Listing...

Male
Female
Agender
Non-binary
Genderqueer
Bigender
Genderfluid
Polygender

Noteworthy: 
- In order to make sure I could count the distinct genders, I had to use the syntax of `SELECT COUNT(DISTINCT gender)`
- The **not equal to** syntax in SQL Is `<>`
    - but `!=` also works in sqlite here but for overall support `<>` is best used

In [63]:
if cursor: 
    state_count = cursor.execute("SELECT COUNT(DISTINCT state) FROM dating_data").fetchone()[0]
    print("There are people from {} different states on this site".format(state_count))
    states = cursor.execute('SELECT DISTINCT state FROM dating_data').fetchall()
    state_list = []
    for state in states:
        state_list.append(state[0])
    for i = 0;

There are people from 49 different states on this site
['IN', 'FL', 'TX', 'CA', 'VA', 'NY', 'MS', 'MI', 'LA', 'TN', 'AR', 'OK', 'SC', 'MN', 'KY', 'WI', 'ID', 'AZ', 'NC', 'MO', 'NE', 'CO', 'OH', 'MA', 'IL', 'NM', 'AL', 'HI', 'PA', 'KS', 'DC', 'GA', 'WV', 'MD', 'CT', 'WA', 'UT', 'DE', 'IA', 'NV', 'AK', 'NJ', 'OR', 'ND', 'MT', 'SD', 'RI', 'WY', 'ME']

I'm getting about ready to make something w/ sql so let's rapid fire what I've been learning to get somewhere with it

## Offset 
> Offset is used to skip a certain number of results before printing results

In [ ]:
import sqlite3
with sqlite3.connect('test.db') as conn:
    cursor = conn.cursor()
    cursor.execute('SELECT * from MOCK_DATA LIMIT 10')
    print(cursor.fetchall())