# SQLite w/ python

As title, in this I'll go over what I'm learning w/ SQL. It's best to do some notetaking here

To do list:  
[x]SELECT \
[x]SELECT DISTINCT\
[x]INSERT INTO table\
[x]INSERT INTO table using qmarks\
[x]INSERT INTO table using names \
[]UPDATING table\
[]DELETING from table\
[]EXECUTE many commands in one go \
[]USING WHERE TO SPECIFY CONDITIONS \
[]AGGREGATE data\
[]combine WHERE & AGGREGATION

## Importing sqlite

As a really light and performant application, sqlite is easily added to many things and as a battery included language, python is reliable in that it has sqlite built in. It just needs to be imported

In [2]:
import sqlite3

### Creating a db

All sqlite dbs are files. To create one the syntax is:

In [7]:
import sqlite3

conn = sqlite3.connect('test.db')
cursor = conn.cursor()

cursor.execute("""CREATE TABLE IF NOT EXISTS people(
  first_name TEXT,
  last_name TEXT,
  age INTEGER
);
""")
conn.commit()
conn.close()

The above statement does multiple things
- creates a connection to the named db `test.db`
- creates a cursor to navigate and control db `cursor = conn.cursor()`
- executes a create table command `cursor.execute("CREATE TABLE IF NOT EXISTS...)
  - IF NOT EXISTS so duplicate tables aren't created
  - columns are named
    - first_name, last_name, age
  - columns are typed
    - TEXT & INTEGER
  - command is ended `;`
- connection is commited to memory `conn.commit()`
- connection is closed `conn.close`

# Accessing table data

The data in tables are accessed with the select command

In [20]:
import sqlite3 
conn =  sqlite3.connect('test.db')
cursor = conn.cursor()
resp = cursor.execute("SELECT * FROM people").fetchall()
conn.commit()
conn.close()

for person in resp: 
    print(person)

('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)

#### Noteworthy things:
- The `execute` command is used to execute sql commands
- `fetchall` is used to tell python to fetch all that matches given conditions
    - otherwise the response will be nothing
    - `fetchone` is an alternative to `fetchall` that fetches the first matching response
    - `fetchall` puts the results in an array
- Data is printed in loop (not very important)
- The connection is **commited** and **closed**

Example of not using fetchall:

In [23]:
import sqlite3 
conn =  sqlite3.connect('test.db')
cursor = conn.cursor()
resp = cursor.execute("SELECT * FROM people")
conn.commit()
conn.close()
print(resp)

<sqlite3.Cursor object at 0x73e25c5bd6c0>

Example of using `fetchone` instead of `fetchall`

In [24]:
import sqlite3 
conn =  sqlite3.connect('test.db')
cursor = conn.cursor()
resp = cursor.execute("SELECT * FROM people").fetchone()
conn.commit()
conn.close()
print(resp)

('Selena', 'Thomas', 25)

- first matching response is printed

## Inserting data into sqlite w/ python

In [28]:
import sqlite3 
conn =  sqlite3.connect('test.db')
cursor = conn.cursor()

cursor.execute("""INSERT INTO people(first_name,last_name,age) --gives structure to insert(optional)
VALUES('Jeremy','Beremy',40)
""") 
response = cursor.execute("SELECT first_name,last_name,age FROM people").fetchall()
print(response)
conn.commit()
conn.close()

[('Selena', 'Thomas', 25), ('Johnny', 'Karcol', 34), ('Samantha', 'Grey', 21), ('Jeremy', 'Beremy', 40)]

#### Noteworthy things: 
- `INSERT INTO` the keyword for inserts
- `people` name of table to insert into
- `people(first_name,last_name,age)` lists the columns to retrieve
    - it's not necessary to list columns
        - instead `INSERT INTO PEOPLE VALUES('Jeremy', 'Beremy',40)` would've been valid
        - Not listing columns runs the risk of having errors
            - the data is given no clear structure so given data in the wrong order could throw an error
            - having the structure makes it so as long as your data follows the given structure, the order isn't restricted
- `fetchall` is used to return an array of matching rows
- connection is commited
- connection is closed

## Alt way of writing connection executions to autoclose connection

In [2]:
import sqlite3 
conn =  sqlite3.connect('test.db')

with conn:
    cursor = conn.cursor()
    print(cursor.execute("SELECT * FROM people").fetchall())
    conn.commit()

[('Selena', 'Thomas', 25), ('Johnny', 'Karcol', 34), ('Samantha', 'Grey', 21), ('Jeremy', 'Beremy', 40)]

## Inserting alts
> This will cover using executemany & an array of values to insert rows
> executemany can prepare and insert multiple values with a given sequence of data

In [8]:
import sqlite3 
conn =  sqlite3.connect('test.db')

with conn: 
    cursor = conn.cursor()
    conn.commit()
     many_inserts = [
        ("Dora", "Explora", 22), 
        ("Cindy", "Dio", 90),
        ("Bob", "Billy", 50)
    ]
    cursor.executemany("""
    INSERT INTO people (first_name,last_name,age)
    VALUES(? ,? ,? )
    """, many_inserts)
    response = cursor.execute("SELECT first_name,last_name,age FROM people").fetchall()
    for person in response:
        print(person)

('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)

#### Noteworth things here:
- Inserting many rows at once can be done in python can be done by using the executemany
    - syntax:
     `cursor.executemany(""" INSERT INTO table_name (column1,column2,column3) VALUES(? ,? ,? )""", sequence)`
        - the sequence can be for ex a list of tuples
- `with conn:` is used to open and close the connection
- `executemany` is used to loop through the list to insert all values at once

## Named vs ? 
> The above example used ?s to insert values left to right
> The ex below uses named values instead so the order matters less and the values are pulled from objects rather a tuple or list of data

In [16]:
import sqlite3
conn = sqlite3.connect('test.db')
with conn:
    cursor = conn.cursor()
    many_inserts = [
        {"first_name": "Bruce", "last_name": "Explora","age": 22}, 
        {"first_name": "Glorilla", "last_name": "Dio", "age": 90},
        {"first_name": "Grimes", "last_name": "Billy", "age": 50}
    ]
    cursor.executemany("""INSERT INTO people(first_name,last_name,age) 
        VALUES(:first_name, :last_name, :age) """,many_inserts)
    response = cursor.execute("SELECT first_name, last_name, age FROM people").fetchall()
    for person in response:
        print(person)

('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)

In [17]:
import sqlite3
conn = sqlite3.connect('test.db')
with conn: 
    cursor = conn.cursor()
    response = cursor.execute("SELECT * FROM people").fetchall()
    for person in response: 
        print(person)

('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)

## SELECT DISTINCT(Different) data
> Select distinct is use to only select data that is different from each other

In the ex above, there are dupicates of Dora,Cindy and Bob. Let's try to only print the unique names

In [8]:
import sqlite3 
conn = sqlite3.connect('test.db')
with conn:
    cursor = conn.cursor()
    sel_all = cursor.execute('SELECT first_name,last_name,age FROM people').fetchall()
    sel_dist = cursor.execute('SELECT DISTINCT first_name,last_name,age FROM people').fetchall()
    print("All people:")
    for person in sel_all:
        print(person)
    print("Distinct people")
    for person in sel_dist: 
        print(person)

All people:
('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Grey', 21)
('Samantha', 'Barnes', 25)
('Joe', 'Barnes', 35)
('Sarah', 'Barnes', 25)
Distinct people
('Selena', 'Thomas', 25)
('Johnny', 'Karcol', 34)
('Samantha', 'Grey', 21)
('Jeremy', 'Beremy', 40)
('Dora', 'Explora', 22)
('Cindy', 'Dio', 90)
('Bob', 'Billy', 50)
('Bruce', 'Explora', 22)
('Glorilla', 'Dio', 90)
('Grimes', 'Billy', 50)
('Samantha', 'Barnes', 25)
('Joe', 'Barnes', 35)
('Sarah', 'Barnes', 25)

### Notes
- Notice how the returned lists are all unique names

In [14]:
import sqlite3 
conn = sqlite3.connect('test.db')
with conn: 
    cursor = conn.cursor()
    last_names = cursor.execute('SELECT DISTINCT last_name FROM people').fetchall()
    first_names = cursor.execute('SELECT DISTINCT first_name FROM people').fetchall()
    ages = cursor.execute('SELECT DISTINCT age FROM people').fetchall()
    print('Unique last names:')
    for person in last_names:
        print(person[0])
    print('\nUnique first names:')
    for person in first_names: 
        print(person[0])

Unique last names:
Thomas
Karcol
Grey
Beremy
Explora
Dio
Billy
Barnes

Unique first names:
Selena
Johnny
Samantha
Jeremy
Dora
Cindy
Bob
Bruce
Glorilla
Grimes
Joe
Sarah

## Updating a table 
> Let's try inserting someone then updating them

In [ ]:
import sqlite3
conn = sqlite3.connect('test.db') 
cursor = conn.cursor()
selena_before = cursor.execute('SELECT * FROM people WHERE first_name="Selena" AND last_name="Thomas"').fetchone()
print(f'{selena_before[0]} {selena_before[1]} is {selena_before[2]} years old')
cursor.execute("""
UPDATE people SET age=40 WHERE first_name="Selena" AND last_name="Thomas";
""")
selena_after = cursor.execute("""
SELECT first_name,last_name,age FROM people WHERE first_name="Selena" AND last_name="Thomas"
""").fetchone()
print(f'{selena_after[0]} {selena_after[1]} is {selena_after[2]} years old')
conn.commit()
conn.close()